@import "tailwindcss";

:root {
  --background: #ededed;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bg-radial-custom {
  background: radial-gradient(54.72% 42.07% at 46.92% 34.31%, #B1B1B1 0%, #FFFFFF 100%);
}
.coda-font {
  font-family: 'Inter', sans-serif;
  letter-spacing: 0;
  line-height: 100%;
  vertical-align: middle;
  color: var(--section-heading-color, #000);
}

h1 {

  font-size: 35px
}